/*! *************** Footer *************** */
footer {
    background-image: url("../assets/images/Footer-BG 1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--color-blue);
    color: var(--color-White);
    position: relative;
}
footer > * {
    z-index: 5;
}
footer::after {
    content: "";
    background-image: url("../assets/images/dog-cat-footer.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: -140px;
    left: 0;
    width: 400px;
    height: 200px;
}

footer .icons {
    display: flex;
    gap: 10px;
}
footer .icons i {
    border: 1px dashed #fff;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}
footer .footer-logo .icons i:hover {
    background-color: var(--color-White);
    color: var(--color-blue);
    border-color: var(--color-blue);
}
footer .footer-links ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer .footer-news input {
    background-color: #1942B2;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    color: #fff;
}
footer .footer-news button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-yellow);
    color: #fff;
    border-radius: 5px 0 0 5px;
}

footer .footer-bottom {
    border-top: 1px dashed #fff;
}
