.row-banner {
    background-color: var(--color-blue);
    color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 40px;
    padding-bottom: 0;
    overflow: hidden;
    position: relative;
}
.row-banner * {
    z-index: 1;
}
.row-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/pawsBg.png");
    filter: brightness(3.8) contrast(0.9);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    animation: row-banner 2s ease-in-out infinite alternate;
}

.row-banner .caption h2,
.row-banner .caption p {
    line-height: 2;
}
.row-banner .caption span {
    color: var(--color-yellow);
    display: block;
}
.row-banner .caption .dog-house {
    text-align: end;
    padding: 0 30px;
    position: relative;
    bottom: -30px;
    animation: dog-house 3s linear infinite;
}
.row-banner .caption .dog-house img {
    width: 150px;
}
.row-banner .caption .img-banner {
    position: absolute;
    top: -100px;
    right: -45px;
}
.row-banner .images {
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: end;
    position: relative;
}
.row-banner .images .foot-dog {
    text-align: end;
    position: relative;
    bottom: 20px;
    animation: foot-dog 4s infinite ease-in-out;
}

.row-banner .images .img-sale {
    position: absolute;
    top: 0;
    right: 0;
    animation: img-sale 2s infinite ease-in-out;
}
.row-banner .images .img-sale img {
    width: 200px;
}
.row-banner .images .img-sale::before {
    content: "60%-";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: var(--color-pink);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    left: 10px;
    top: 15px;
}

.row-banner .images .img-bone {
    position: absolute;
    top: -35px;
    left: -10px;
    animation: img-bone 3s ease-in-out infinite;
}

@keyframes row-banner {
    0% {
        opacity: 0.2;
        transform: scale(1);
    }
    100% {
        opacity: 0.6;
        transform: scale(1.05);
    }
}

@keyframes dog-house {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

@keyframes img-bone {
    0% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

@keyframes img-sale {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@keyframes foot-dog {
    0%, 100% {
        opacity: 0.2;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}




















.foot-dog2 {
    position: relative;
    width: 80px;
    margin-right: auto;
    animation: footAppear 4s ease-in-out infinite;
}

.foot-dog2 > img {
    width: 35px;
    opacity: 0;
    animation: footAppear 4s ease-in-out infinite;
}

.fingers {
    position: absolute;
    bottom: 100%;
    left: 75%;
    transform: translateX(-50%);
    display: flex;
    gap: 3px;
}

.fingers img {
    width: 10px;
    transform-origin: bottom center;
    transition: transform 0.3s ease;
    opacity: 0;
    animation: fingerAppear 4s ease-in-out infinite;
}

/* 
.img-test {
    position: relative;
    left: 100px;
    bottom: 25px;
    width: 45%;
    background-color: #fff;
} */




.fingers img:nth-child(1) {
    transform: rotate(-28deg);
    animation-delay: 0.6s;
    position: relative;
    bottom: -3px;
    left: -1px;
}
.fingers img:nth-child(2) {
    transform: rotate(-10deg);
    animation-delay: 0.9s;
}
.fingers img:nth-child(3) {
    /* transform: rotate(10deg); */
    transform: rotate(380deg);
    animation-delay: 1.2s;
}
.fingers img:nth-child(4) {
    transform: rotate(108deg);
    animation-delay: 1.5s;
}

/*! الرجل */
@keyframes footAppear {
    0% {
        opacity: 0;
        /* transform: scale(0.8); */
    }
    10% {
        opacity: 1;
        /* transform: scale(1); */
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        /* transform: scale(0.8); */
    }
}

/*! الأصابع */
    @keyframes fingerAppear {
    0%, 20% {
        opacity: 0;
        /* transform: translateY(10px) scale(0.8); */
    }
    30%, 60% {
        opacity: 1;
        /* transform: translateY(0) scale(1); */
    }
        90%, 100% {
        opacity: 0;
        /* transform: translateY(10px) scale(0.8); */
    }
}







/*! Offer-Banner */
.offer-banner {
    background-color: var(--color-pink);
    position: relative;
    overflow: hidden;
}
/* .offer-banner .image img {
    animation: offer-banner-img 3s ease-in-out infinite alternate;
} */
.offer-banner * {
    z-index: 1;
}
.offer-banner::before {
    content: url("../assets/images/offers-banner-1.svg");
    position: absolute;
    right: 150px;
    top: 50%;
    transform: translateY(-50%);
    animation: offer-banner-Bg 1s ease-in-out infinite alternate;
}
.offer-banner::after {
    content: url("../assets/images/offers-banner-2.png");
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    animation: offer-banner-Bg 2s ease-in-out infinite alternate;
}
.offer-banner .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    padding-bottom: 0;
}

.offer-banner .items > p {
    display: flex;
    flex-direction: column;
    font-size: 80px;
    font-weight: 500;
    color: #fff;
    animation: img-sale 2s infinite ease-in-out;
}
.offer-banner .items > p > span {
    color: #ffc400c6;
}

@keyframes offer-banner-Bg {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

@keyframes offer-banner-img {
    0% { transform: translateX(0) rotate(0deg); }
    50% { transform: translateX(20px) rotate(5deg); }
    100% { transform: translateX(0) rotate(0deg); }
}






/*! Brands */
.brands .images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px 0;
}

.brands .images .image {
    background-color: #fff;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #BCC0C047;
    box-shadow: 0 0 10px #0000001A;
    position: relative;
    aspect-ratio: 1; /* بتتحكم في نسبة الطول للعرض بتاعة العنصر */
    --n: 4; /* عدد الشرطات */
    --d: 8deg; /* المسافة بين الشرطة */
    --t: 2px; /* سمك البىوردر */
    --c: #BCC0C047; /* لون البوردر */
    --gap: 15px; /* المسافة بين الدايرة والبوردر */
}

.brands .images .image::after {
    content:"";
    position:absolute;
    inset: calc(var(--gap) * -1); /* يخلي البوردر برا الدايرة */
    /* top: calc(var(--gap) * -1); 
    left: calc(var(--gap) * -1);
    right: calc(var(--gap) * -1);
    bottom: calc(var(--gap) * -1); */
    border-radius:50%;
    padding: var(--t);
    background-color: var(--c);
    mask:
    linear-gradient(#0000 0 0) content-box intersect, repeating-conic-gradient(
        from calc(337deg + var(--d) / 2),
        #000 0 calc(172deg / var(--n) - var(--d)),
        #0000 0 calc(360deg / var(--n)));
        /* animation: rotate 2s infinite linear; */
        transition: .5s;
}

.brands .images .image:hover::after {
    background-color: var(--color-yellow);
    animation: rotate 2s infinite linear;
}


/*! Overlay  */
.card {
  position: relative;
  overflow: hidden;
  width: 250px;
  border-radius: 10px;
}

.card .image {
  position: relative;
  overflow: hidden;
}

.card .image img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffa500b3;
    opacity: 0.9;
    transform: translateY(100%);
    pointer-events: none;
}



/*! Section Train */
.row-train {
    color: #fff;
    padding: 80px 20px;
    padding-bottom: 0;
    border-radius: 20px;
    overflow: hidden;
    background: #0a8d0a;
    /* animation: move-gradient 6s linear infinite; */
}
.container.train {
    overflow: hidden;
    position: relative;
}
.container.train::before {
    content: "";
    width: 2000px;
    height: 20px;
    background-image: url("../assets/images/Frame.svg");
    background-position: 0 0;
    position: absolute;
    left: -67%;
    transform: rotate(139deg) translateX(0);
    animation: bg-train2 20s linear infinite;
}

@keyframes bg-train {
    0% {
        transform: rotate(139deg) translateX(0);
    }
    50% {
        transform: rotate(139deg) translateX(-100px);
    }
    100% {
        transform: rotate(139deg) translateX(-200px);
    }
}
@keyframes bg-train2 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -200% 0;
    }
}




@keyframes move-gradient {
    0% {
        background-position: 0 0; 
    }
    33% {
        background-position: 400px 0;
    }
    66% {
        background-position: 400px 0;
    }
    100% {
        background-position: 0 0; 
    }
}


.row-train .images {
    position: relative;
    width: 615px;
    display: block;
    height: 100%;
}

.row-train .tow-container {
    position: absolute;
    left: -100px;
    bottom: 0;
    width: 440px;
    overflow: hidden;
    height: 200px;
}


.row-train .tow-container::after{
    content: "";
    position: absolute;
    bottom: -10px;
    right: -20px;
    width: 30px ;
    height: 60px;
    transform: rotate(16deg);
    background-color: #0a8d0a;

}
.row-train .tow-bars { /* قضبان القطر */
    width: 200%;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: slide 4s linear infinite;
}

.row-train .images .towing-station { /* محطة القطر */
    position: absolute;
    right: -100px;
    bottom: 35px;
    transform: translateX(70px);
    z-index: 0;
    animation: show-station 4s linear infinite;
}

.row-train .images .train {
    position: absolute;
    left: -90%;
    bottom: 5px;
    z-index: 5;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    70% {
        transform: translateX(-400px);
    }
    100% {
        transform: translateX(-400px);
    }
}

@keyframes move-station {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    70% {
        transform: translateX(-400px);
        opacity: 1;
    }
    100% {
        transform: translateX(-400px);
        opacity: 1;
    }
}
 /* ********************************** */








@keyframes slide {
    0% {
        transform: translateX(0);
    }
    50%, 70% {
        transform: translateX(-230px);
    }
    100% {
        transform: translateX(-400px);
    }
}


@keyframes show-station {
     0% {
        transform: translateX(0);
    }
    50%, 70% {
        transform: translateX(-280px);
    }
    100% {
        transform: translateX(-460px);
    }
}

/* .green-track {
    padding: 0;
    position: relative;
    transform: rotate(140deg);
    left: -75%;
    top: -55px;
    animation: fade-move 4s ease-in-out infinite;
}

@keyframes fade-move {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
} */





.lamp-container {
    position: relative;
    display: inline-block;
}

.lamp {
    width: 300px;
    display: block;
}

.light {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 86%;
    right: 45%;;
    transform: translate(-50%, -50%);
    z-index: 5;
    background: radial-gradient(circle, #fff7b1 0%, #ffeb3b 40%, transparent 70%);
    border-radius: 50%;
    opacity: 0;
    animation: glowPulse 1.5s ease-in-out infinite;
}

@keyframes glowPulse {
    0%, 100% {
        opacity: 0;
        filter: brightness(1);
    }
    50% {
        opacity: 1;
        filter: brightness(2);
    }
}













/* join-panner */
.main-container {
    width: 90%;
    margin: auto;
}
.m-section {
    margin: 100px 0;
}

.join-panner {
    background: linear-gradient(0deg, #98cecc 0%, rgba(36, 161, 156, 0.13) 100%);
    min-height: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    border-radius: 15px;
    flex-wrap: wrap;
    padding: 40px 20px;
}

.panner-slogen {
    height: 125px;
    width: 180px;
}
.panner-tree img,
.panner-slogen img {
    width: 100%;
    height: 100%;
}

.panner-tree img{
    height: 26%;
}
.panner-tree {
    height: 275px;
    align-content: end;
    position: relative;
}

.man-tree{
    position: absolute;
    z-index: 10;
    height: 100%;
    bottom: 15px;
    left: 13%;
    transform: translateX(-20%);
    align-content: end;
}

.man-tree img{
    height: 80%;
}
.panner-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.water {
    position: absolute;
    right: -33px;
    width: 70px;
    height: 40px;
    top: 57%;
    transform: translateY(50%);
    animation:  drink-tree infinite;
    animation-duration: 2s;

}

.water img{
    width: 100%;
    height: 100%;
}
.panner-text p {
    color: #000;
    font-size: 20px;
}

.panner-text a {
    width: 130px;
    font-size: 18px;
}

.sub-title {
    font-size: 45px;
    color: #7FDEDA;
    text-shadow: 2px -2px 0 #24a19c;
}
.main_btn {
    min-width: 120px;
    height: 45px;
    display: flex
;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #24a19c;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 33px;
}

/*! *************** Animation Panner Tree *************** */
.join-panner .panner-tree figure {
    width: 350px;
    position: relative;
    overflow: hidden;
}
.join-panner .panner-tree figure::before {
    content: "";
    width: 30%;
    height: 1000px;
    position: absolute;
    background-image: url("../assets/images/tree-money.svg");
    background-size: contain;
    background-repeat: repeat;
    top: 55px;
    right: 50px;
    animation: treeBounce 14s infinite linear;
    z-index: -1;
}
@keyframes treeBounce {
    0% {
        background-position-y: 0;
}
    100% {
        background-position-y: 1000px;
    }
}



