.row-banner {
    background-color: var(--color-blue);
    color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 40px;
    padding-bottom: 0;
    overflow: hidden;
    position: relative;
}
.row-banner * {
    z-index: 1;
}
.row-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/pawsBg.png");
    filter: brightness(3.8) contrast(0.9);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    animation: row-banner 2s ease-in-out infinite alternate;
}

.row-banner .caption h2,
.row-banner .caption p {
    line-height: 2;
}
.row-banner .caption span {
    color: var(--color-yellow);
    display: block;
}
.row-banner .caption .dog-house {
    text-align: end;
    padding: 0 30px;
    position: relative;
    bottom: -30px;
    animation: dog-house 3s linear infinite;
}
.row-banner .caption .dog-house img {
    width: 150px;
}
.row-banner .caption .img-banner {
    position: absolute;
    top: -100px;
    right: -45px;
}
.row-banner .images {
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: end;
    position: relative;
}
.row-banner .images .foot-dog {
    text-align: end;
    position: relative;
    bottom: 20px;
    animation: foot-dog 4s infinite ease-in-out;
}

.row-banner .images .img-sale {
    position: absolute;
    top: 0;
    right: 0;
    animation: img-sale 2s infinite ease-in-out;
}
.row-banner .images .img-sale img {
    width: 200px;
}
.row-banner .images .img-sale::before {
    content: "60%-";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: var(--color-pink);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    left: 10px;
    top: 15px;
}

.row-banner .images .img-bone {
    position: absolute;
    top: -35px;
    left: -10px;
    animation: img-bone 3s ease-in-out infinite;
}

@keyframes row-banner {
    0% {
        opacity: 0.2;
        transform: scale(1);
    }
    100% {
        opacity: 0.6;
        transform: scale(1.05);
    }
}

@keyframes dog-house {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

@keyframes img-bone {
    0% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

@keyframes img-sale {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@keyframes foot-dog {
    0%, 100% {
        opacity: 0.2;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.foot-dog2 {
    position: relative;
    width: 40px;
    /* width: 80px; */
    margin-right: auto;
    animation: footAppear 4s ease-in-out infinite;
}

.foot-dog2 > img {
    width: 35px;
    opacity: 0;
    animation: footAppear 4s ease-in-out infinite;
}

.fingers {
    position: absolute;
    bottom: 100%;
    left: 75%;
    transform: translateX(-50%);
    display: flex;
    gap: 3px;
}

.fingers img {
    width: 10px;
    transform-origin: bottom center;
    transition: transform 0.3s ease;
    opacity: 0;
    animation: fingerAppear 4s ease-in-out infinite;
}

/* 
.img-test {
    position: relative;
    left: 100px;
    bottom: 25px;
    width: 45%;
    background-color: #fff;
} */

.fingers img:nth-child(1) {
    transform: rotate(-28deg);
    animation-delay: 0.6s;
    position: relative;
    bottom: -3px;
    left: -1px;
}
.fingers img:nth-child(2) {
    transform: rotate(-10deg);
    animation-delay: 0.9s;
}
.fingers img:nth-child(3) {
    /* transform: rotate(10deg); */
    transform: rotate(380deg);
    animation-delay: 1.2s;
}
.fingers img:nth-child(4) {
    transform: rotate(108deg);
    animation-delay: 1.5s;
}

/*! الرجل */
@keyframes footAppear {
    0% {
        opacity: 0;
        /* transform: scale(0.8); */
    }
    10% {
        opacity: 1;
        /* transform: scale(1); */
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        /* transform: scale(0.8); */
    }
}

/*! الأصابع */
    @keyframes fingerAppear {
    0%, 20% {
        opacity: 0;
        /* transform: translateY(10px) scale(0.8); */
    }
    30%, 60% {
        opacity: 1;
        /* transform: translateY(0) scale(1); */
    }
        90%, 100% {
        opacity: 0;
        /* transform: translateY(10px) scale(0.8); */
    }
}


/*! Owl Banner */
.owl-carousel .owl-stage-outer {
    border-radius: 10px;
}
.owl-carousel .owl-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.owl-carousel button.owl-dot {
    background-color: #dee2e6;
    padding: 5px !important;
    width: 5px;
    height: 5px;
    margin: 5px;
    border-radius: 50%;
}
.owl-carousel button.owl-dot.active {
    width: 40px;
    border-radius: 5px !important;
    background-color: var(--color-White) !important;
}


/*! Offer-Banner */
.offer-banner {
    background-color: var(--color-pink);
    position: relative;
    overflow: hidden;
}
.offer-banner .image img {
    width: 100%;
    /* animation: offer-banner-img 3s ease-in-out infinite alternate; */
}
.offer-banner * {
    z-index: 1;
}
.offer-banner::before {
    content: url("../assets/images/offers-banner-1.svg");
    position: absolute;
    right: 150px;
    top: 50%;
    transform: translateY(-50%);
    animation: offer-banner-Bg 1s ease-in-out infinite alternate;
}
.offer-banner::after {
    content: url("../assets/images/offers-banner-2.png");
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    animation: offer-banner-Bg 2s ease-in-out infinite alternate;
}
.offer-banner .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    padding-bottom: 0;
}

.offer-banner .items > p {
    display: flex;
    flex-direction: column;
    font-size: 80px;
    font-weight: 500;
    color: #fff;
    animation: img-sale 2s infinite ease-in-out;
}
.offer-banner .items > p > span {
    color: #ffc400c6;
}

@keyframes offer-banner-Bg {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

@keyframes offer-banner-img {
    0% { transform: translateX(0) rotate(0deg); }
    50% { transform: translateX(20px) rotate(5deg); }
    100% { transform: translateX(0) rotate(0deg); }
}


/*! Brands */
.brands .images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.brands .images .image {
    background-color: #fff;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #BCC0C047;
    box-shadow: 0 0 10px #0000001A;
    position: relative;
    aspect-ratio: 1; /* بتتحكم في نسبة الطول للعرض بتاعة العنصر */
    --n: 4; /* عدد الشرطات */
    --d: 8deg; /* المسافة بين الشرطة */
    --t: 2px; /* سمك البىوردر */
    --c: #BCC0C047; /* لون البوردر */
    --gap: 15px; /* المسافة بين الدايرة والبوردر */
}

.brands .images .image::after {
    content:"";
    position:absolute;
    inset: calc(var(--gap) * -1); /* يخلي البوردر برا الدايرة */
    /* top: calc(var(--gap) * -1); 
    left: calc(var(--gap) * -1);
    right: calc(var(--gap) * -1);
    bottom: calc(var(--gap) * -1); */
    border-radius:50%;
    padding: var(--t);
    background-color: var(--c);
    mask:
    linear-gradient(#0000 0 0) content-box intersect, repeating-conic-gradient(
        from calc(337deg + var(--d) / 2),
        #000 0 calc(172deg / var(--n) - var(--d)),
        #0000 0 calc(360deg / var(--n)));
        /* animation: rotate 2s infinite linear; */
        transition: .5s;
}

.brands .images .image:hover::after {
    background-color: var(--color-yellow);
    animation: rotate 2s infinite linear;
}


/*! Overlay  */
.card {
  position: relative;
  overflow: hidden;
  width: 250px;
  border-radius: 10px;
}

.card .image {
  position: relative;
  overflow: hidden;
}

.card .image img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffa500b3;
    opacity: 0.9;
    transform: translateY(100%);
    pointer-events: none;
}


/*! *************** Card-Banner *************** */
.card-banner {
    background-color: #5C3FCF;
    background-image: url("../assets/images/card-banner-bg.svg");
    background-repeat: no-repeat;
    background-position: left 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    color: var(--color-White);
    padding: 30px 0 30px 30px;
    gap: 25px;
    /* height: 250px;
    width: 450px; */
}
.card-banner .image img {
    width: 150px;
}
.card-banner .caption-card-banner {
    line-height: 2;
}
.card-banner .caption-card-banner p {
    font-size: 15px;
}
/*! *************** Cards *************** */
.cards .nav-pills {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin: auto;
}
.cards .nav-pills .nav-link {
    width: 100%;
    background-color: transparent;
    color: #9E9E9E;
    font-weight: 500;
    border: none;
    transition: .4s;
}
.cards .nav-pills .nav-link.active {
    background-color: #E9EEFC;
    color: var(--color-blue);
}

/*! *************** تصنيفات الاقسام *************** */
.dept-section .item {
    box-shadow: 0 0 5px #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px dashed transparent;
    transition: .5s;
}
.dept-section .item:hover {
    border: 1px dashed var(--color-yellow);
    /* border-image: repeating-linear-gradient(
                45deg,
                var(--color-yellow) 0 10px,
                transparent 5px 15px
                ) 10; */
}
.dept-section .item .image {
    background-color: #E9EEFC;
    border-radius: 50%;
    padding: 10px;
}
.dept-section .item .image img {
    width: 90px;
}
.dept-section .item h6 {
    color: var(--color-blue);
}
.dept-section .item p {
    color: #b0b8c0;
}
.dept-section .item span {
    width: 30px;
    height: 30px;
    background-color: var(--color-blue);
    color: #fff;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid transparent; 
    cursor: pointer;
    transition: .5s;
}
.dept-section .item span:hover {
    background-color: var(--color-White);
    color: var(--color-blue);
    border: 1px solid var(--color-blue); 
}

/*! *************** Products *************** */
.products {
    background-color: #dddddd40;
    background-image: url("../assets/images/productsBG.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
.products button {
    margin: auto;
    background-color: var(--color-blue);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*! *************** aboutUs *************** */
.aboutUs .content h2 {
    color: var(--color-blue);
}
.aboutUs .content p {
    color: #9E9E9E;
    line-height: 2.1;
}
.aboutUs .content p:first-of-type{
    font-weight: bold;
    color: #000;
}
.aboutUs .content .numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aboutUs .content .numbers .num {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutUs .content .numbers .num span:first-child {
    color: var(--color-yellow);
    font-size: 30px;
    font-weight: bold;
}
.aboutUs .content .numbers .num span:last-child {
    color: #9E9E9E;
    font-weight: 600;
}

/*! *************** Our customers' opinions (آراء عملائنا) *************** */
.bg-img {
    position: absolute;
    right: -8%;
    top: 0;
}
.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    transition: .5s;
}
.box:hover {
    border: 1px dashed var(--color-yellow);
}
.box .image {
    text-align: center;
    color: var(--color-blue);
    font-weight: 600;
}
.box .image img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
.box .caption .stars {
    color: var(--color-yellow);
    padding: 10px;
}



/* ******************************************* */
.offer-banner-2 {
    background-image: url("../assets/images/offer-banner-2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px;
    margin: 50px 0;
}
.offer-banner-2 .image img {
    position: absolute;
    width: 250px;
    right: 0;
    bottom: -45px;
}
.offer-banner-2 .content {
    width: 500px;
    margin: auto;
    color: var(--color-White);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.offer-banner-2 .content input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: transparent;
    color: var(--color-White);
}
.offer-banner-2 .content button {
    background-color: var(--color-yellow);
    color: #fff;
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    top: 50%;
    height: 100%;
}
input::placeholder {
    color: #ddddddbe;
}





/*! *************** Blog *************** */
.blog .card-blog {
    background-color: #F6F9FF;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: .7s;
}
.blog .card-blog:hover {
    box-shadow: 0 0 5px #ccc;
    border: 1px solid var(--color-yellow);
    transform: scale(1.05);
}
.blog .card-blog .image {
    background-color: #fff;
    padding: 7px;
    border-radius: 10px;
    border: 1px dashed var(--color-yellow);
}
.blog .card-blog img {
    width: 100%;
    border-radius: 10px;
}
.blog .card-blog .text {
    padding: 20px 0;
}
.blog .card-blog .text p {
    color: #9E9E9E;
    font-size: 12px;
}
.blog .card-blog .text button {
    width: fit-content;
    border: 1px solid;
    font-size: 15px;
}
.blog .card-blog .text .footer .date {
    color: #9E9E9E;
}
.blog .card-blog .text .footer .date i {
    color: var(--color-yellow);
}

.blog button.more-news {
    width: fit-content;
    background-color: var(--color-blue);
    color: var(--color-White);
    font-size: 13px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}




.owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.owl-carousel.our-customers .owl-nav button {
    background: #fff !important;
    color: #000 !important;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px !important;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.owl-carousel.our-customers .owl-nav button span {
    font-size: 25px;
}

.owl-carousel.our-customers .owl-nav button:hover {
    background: var(--color-blue) !important;
    color: #fff !important;
}
