@media (max-width: 1024px) {
    .dept-section .item .image img {
        width: 50px;
    }
    .offer-banner .items {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        padding: 40px 20px;
    }
}

@media (max-width: 991px) {

    nav .middle-bar .container {
        flex-direction: column;
        gap: 15px;
    }
    /* nav .menu {
        display: block;
    } */

    nav .bottom-bar .container {
        flex-direction: column;
        justify-content: space-between !important;
        align-items: center;
    }
    nav .bottom-bar .container ul {
        /* width: 100% !important;
        padding: 0;
        flex-wrap: wrap; */
        justify-content: start !important;
    }

    .row-banner .caption .dog-house img {
        display: none;
    }
    .owl-carousel .owl-dots {
        bottom: 5px;
    }
    footer .row {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    footer .icons {
        justify-content: center;
        align-items: center;
    }
    footer .footer-links {
        border: 1px dashed;
        border-color: #ddd transparent;
        padding: 20px 0;
    }
}

@media (max-width: 768px) {
    .offer-banner {
        padding: 20px;
    }
    .offer-banner .items {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding: 20px 10px;
    }
    .bg-img {
        display: none;
    }
    .row.Our-customers {
        gap: 20px;
        padding: 0 15px;
    }
    .box {
        flex-direction: column;
        text-align: center;
        gap: 15px;
        padding: 15px;
        width: 100%;
    }
        .offer-banner-2 {
        padding: 50px 20px;
        margin: 30px 0;
        text-align: center;
    }
    .offer-banner-2 .image img {
        display: none;
    }
    .offer-banner-2 .content {
        width: 100%;
        gap: 15px;
    }
}



